{% load functions_extras %}

<div style="background:#aaa;text-align:center;color:olive;" class="fixed-bottom">
	
{{ "Droits d'auteur"|trans:request }}
 {% now "Y" %} <a href="https://integratehealth.org/" target="_blank">{{ "santé intégrée"|trans:request }}</a>.
 {{ "Tous Droits Réservés. Fait avec"|trans:request }}
		<i style="color:orangered" class="fa fa-heart"></i>
		{{ "par"|trans:request }} <a href="mailto:kossi.tsolegnagbo@aiesec.net" target="_blank">M. Kossi <img style="border-radius: 50%; height:30px; width:30px" src="/media/images/kossi_thumb.png" alt="{{ 'auteur'|trans:request }}" id="author"></a>
</div>









