{% extends 'layouts/_base.html' %}


{% block content %}
{% load functions_extras %}

<table class="table table-striped container">
    <thead style="background-color:orange" class="container">
        <tr style="background-color:white; color: black; text-align:center; font-size:30px" class="btn-danger">
            <th style="padding: 0px;" colspan="12">
                <strong style="color:red;">{{ "ajustement de stock"|trans:request }}</strong>
            </th>
        </tr>

        <tr>
            <th>{{ "date d'action"|trans:request }}</th>
            <th>{{ "année"|trans:request }}</th>
            <th>{{ "mois"|trans:request }}</th>
            <th>{{ "médicament"|trans:request }}</th>
            <th>{{ "source"|trans:request }}</th>
            <th>{{ "quantité d'ajustement"|trans:request }}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    {% if dateError %}
    <style>
        #date {
            border: solid red 3px;
        }
    </style>
    {% endif %}

    <tbody class="container">
        {% for data in paginate %}
        <tr  style="{% if data.created_at|time_diff <= 5 or data.updated_at|time_diff <= 5 %}background:aqua;{% elif Error %}background:rgb(14, 46, 2); color:white; {% endif %}">
            {% with 'website'|siteLanguage:request as language %}
                <td>{{ data.date|convert_date:language }}</td>
                <td>{{ data.date|convert_date:"Y" }}</td>
                <td>{{ data.date|convert_date:"M"|trans:request }}</td>
                <td>{{ data.drug }}</td>
                <td>{{ data.drug_source }}</td>
                <td style="color:blue;"><strong>{{ data.stock_adjustment_quantity|separate_millier }}</strong></td>
                <td><a href="{% url 'stock_adjustment_update' id=data.id %}"><i class="btn btn-warning fa fa-edit"></i></a></td>
                <td><a class="delete" href="{% url 'stock_adjustment_delete' delete=data.id %}"><i class="btn btn-danger fa fa-trash"></i></a>
                </td>
            {% endwith %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'layouts/_paginator.html' %}
{% endblock %}

{% block form_content %}
<div class="row">
    <div class="col-md-2 col-2"></div>
    <div class="col-md-8 col-8">
        <form data-parsley-validate style="margin-top:170px" class="container"
            action="{% if Update != True %}{% url 'stock_adjustment_create' %}{% endif %}" method="POST">
            <div class="row">
                <div class="col-md-12 col-12" style="background:black;text-align:center; font-weight:bold;">
                    <h3 class="new_registration">{{ "nouvel enrégistrement"|trans:request }}</h3>
                </div>

                {% csrf_token %}

                <div class="col-md-12 col-12" style="background:black;">
                    <div class="form-group">
                        <label class="control-label">{{ "date d'action"|trans:request }} </label>
                        {{ form.date }}
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{ "médicament"|trans:request }} </label>
                        {{ form.drug }}
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{ "source du médicament"|trans:request }}</label>
                        {{ form.drug_source }}
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{ "quantité d'ajustement"|trans:request }} 
                            <i style="margin-top:-5px; display:block; font-size: x-small; color:rgb(91, 91, 255);text-transform:capitalize;">({{ "préciser une valeur négative pour soustraire"|trans:request }})</i> </label>
                        {{ form.stock_adjustment_quantity }}
                        
                    </div>


                </div>

                <div class="form-group col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-4">
                            <a href="{% url 'stock_adjustment' %}" class="btn btn-danger col-md-12"
                                style="padding-top:12px; padding-bottom:12px;">{{ "annuler"|trans:request }}</a>
                        </div>
                        <div class="col-md-8 col-8">
                            {% include 'layouts/submitBtn/submit_btn1.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-2"></div>
</div>
{% endblock %}